body {
    font-family: Arial, sans-serif; 
    background-color: #daa8b4;  
    color: #5f0404;               
    margin: 0;
    padding: 0;
}

header {
    background-color: #020530;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    color: white;
}

h2 {
    color: #00509e;
}

h3 {
    color: #00509e;
}

p {
    line-height: 1.6; 
}

a {
    color: #003366;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.small-text {
    font-size: 0.9em;
}

.container {
    display: flex;               
    flex-direction: column;      
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

nav ul li {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article {
        width: 45%; 
        padding: 10px; 
    }

    nav ul {
        flex-direction: row; 
        justify-content: space-around;
    }
}

footer {
    font-family: 'Courier New', Courier, monospace;
    color: #3a0909;
    text-align: center;
    padding: 10px 0;
}

